<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ö—Ä–∏—Å—Ç–∏–Ω–∞, –ø—Ä–∏–≤–µ—Ç!üëã</b>

–ú–µ–Ω—è –∑–æ–≤—É—Ç –ê–ª–µ–∫—Å–µ–π –ì—Ä–∏–±, –∏ —è –±—É–¥—É —Ä–µ–≤—å—é–µ—Ä–æ–º —Ç–≤–æ–µ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞. 

–°—Ä–∞–∑—É —Ö–æ—á—É –ø—Ä–µ–¥–ª–æ–∂–∏—Ç—å –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –æ–±—â–∞—Ç—å—Å—è –Ω–∞ "—Ç—ã" - –Ω–∞–¥–µ—é—Å—å, —Ç–∞–∫ –±—É–¥–µ—Ç –∫–æ–º—Ñ–æ—Ä—Ç–Ω–µ–µ:) –ù–æ –µ—Å–ª–∏ —ç—Ç–æ –Ω–µ—É–¥–æ–±–Ω–æ, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–π –∑–Ω–∞—Ç—å, –∏ –º—ã –ø—Ä–∏–¥—É–º–∞–µ–º —á—Ç–æ-–Ω–∏–±—É–¥—å –µ—â—ë!
    
–¶–µ–ª—å —Ä–µ–≤—å—é - –Ω–µ –∏—Å–∫–∞—Ç—å –æ—à–∏–±–∫–∏ –≤ —Ç–≤–æ—ë–º –ø—Ä–æ–µ–∫—Ç–µ, –∞ –ø–æ–º–æ—á—å —Ç–µ–±–µ —Å–¥–µ–ª–∞—Ç—å —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –µ—â—ë –ª—É—á—à–µ, —É—Å—Ç—Ä–∞–Ω–∏–≤ –Ω–µ–¥–æ—á—ë—Ç—ã –∏ –ø—Ä–∏–±–ª–∏–∑–∏–≤ –µ—ë –∫ —Ä–µ–∞–ª—å–Ω—ã–º –∑–∞–¥–∞—á–∞–º –∞–Ω–∞–ª–∏—Ç–∏–∫–∞. –ü–æ—ç—Ç–æ–º—É –Ω–µ —Ä–∞—Å—Å—Ç—Ä–∞–∏–≤–∞–π—Å—è, –µ—Å–ª–∏ —á—Ç–æ-—Ç–æ –Ω–µ –ø–æ–ª—É—á–∏–ª–æ—Å—å —Å –ø–µ—Ä–≤–æ–≥–æ —Ä–∞–∑–∞ - —ç—Ç–æ –Ω–æ—Ä–º–∞–ª—å–Ω–æ, –∏ —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç —Ç–µ–±–µ –≤—ã—Ä–∞—Å—Ç–∏!
    
–¢—ã –º–æ–∂–µ—à—å –Ω–∞–π—Ç–∏ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–±–æ–∑–Ω–∞—á–µ–Ω–Ω—ã–µ <font color='green'>–∑–µ–ª–µ–Ω—ã–º</font>, <font color='gold'>–∂–µ–ª—Ç—ã–º</font> –∏ <font color='red'>–∫—Ä–∞—Å–Ω—ã–º</font> —Ü–≤–µ—Ç–∞–º–∏, –Ω–∞–ø—Ä–∏–º–µ—Ä:

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ø–æ—Ö–≤–∞–ª–∞, —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ ¬´—Å–æ –∑–≤—ë–∑–¥–æ—á–∫–æ–π¬ª, –ø–æ–ª–µ–∑–Ω—ã–µ –ª–∞–π—Ñ—Ö–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ —Å–¥–µ–ª–∞—é—Ç –∏ –±–µ–∑ —Ç–æ–≥–æ –∫—Ä–∞—Å–∏–≤–æ–µ —Ä–µ—à–µ–Ω–∏–µ –µ—â—ë –±–æ–ª–µ–µ —ç–ª–µ–≥–∞–Ω—Ç–Ω—ã–º.
</div>

<br/>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏ –∏–ª–∏ —Ä–∞–∑–≤–∏–≤–∞—é—â–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –Ω–∞ –±—É–¥—É—â–µ–µ. 
</div>


<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ö—Ä–∏—Ç–∏—á–Ω—ã–µ –æ—à–∏–±–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å.
</div>

–Ø –Ω–µ —Å–º–æ–≥—É –ø—Ä–∏–Ω—è—Ç—å –ø—Ä–æ–µ–∫—Ç, –µ—Å–ª–∏ –≤ –Ω—ë–º –±—É–¥–µ—Ç —Ö–æ—Ç—è –±—ã –æ–¥–Ω–∞ –∫—Ä–∏—Ç–∏—á–Ω–∞—è –æ—à–∏–±–∫–∞ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–æ –Ω–µ–∫—Ä–∏—Ç–∏—á–Ω—ã—Ö –æ—à–∏–±–æ–∫ - —Ç–æ–≥–¥–∞ –ø—Ä–æ–µ–∫—Ç –Ω—É–∂–Ω–æ –±—É–¥–µ—Ç –Ω–µ–º–Ω–æ–≥–æ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å. –ù–æ —ç—Ç–æ –Ω–µ—Å—Ç—Ä–∞—à–Ω–æ - —è –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ –¥–∞–º —Ç–µ–±–µ –ø–æ–¥—Å–∫–∞–∑–∫—É –∏–ª–∏ —É–∫–∞–∂—É –≤–µ—Ä–Ω–æ–µ –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–µ.
    
–ü–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –æ–Ω–∏ –±—É–¥—É—Ç –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è –Ω–∞—à–µ–π —Ä–∞–±–æ—Ç—ã –≤ —Å–ª—É—á–∞–µ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–∏ –ø—Ä–æ–µ–∫—Ç–∞. 
    
–¢—ã —Ç–∞–∫–∂–µ –º–æ–∂–µ—à—å –∑–∞–¥–∞–≤–∞—Ç—å —Å–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã, —Ä–µ–∞–≥–∏—Ä–æ–≤–∞—Ç—å –Ω–∞ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏, –¥–µ–ª–∞—Ç—å –ø–æ–º–µ—Ç–∫–∏ –∏ –ø–æ—è—Å–Ω–µ–Ω–∏—è - –ø–æ–ª–Ω–∞—è —Ç–≤–æ—Ä—á–µ—Å–∫–∞—è —Å–≤–æ–±–æ–¥–∞! –ù–æ –º–∞–ª–µ–Ω—å–∫–∞—è –ø—Ä–æ—Å—å–±–∞ - –ø—É—Å–∫–∞–π –æ–Ω–∏ –±—É–¥—É—Ç –æ—Ç–ª–∏—á–∞—Ç—å—Å—è –æ—Ç –º–æ–∏—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, —ç—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—É—Ç–∞–Ω–∏—Ü—ã –≤ –Ω–∞—à–µ–º –æ–±—â–µ–Ω–∏–∏:)
–ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫:
    
<br/>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

*—Ç–≤–æ–π —Ç–µ–∫—Å—Ç*
</div>
    
–î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º –Ω–∞ —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–ü—Ä–∏–≤–µ—Ç, –ê–ª–µ–∫—Å–µ–π) –°–ø–∞—Å–∏–±–æ –∑–∞ –ø—Ä–æ–≤–µ—Ä–∫—É –∏ –æ–±–æ–¥—Ä—è—é—â–∏–π –Ω–∞—Å—Ç—Ä–æ–π), –ø—Ä–∏—Å—Ç—É–ø–∞—é –∫ –¥–æ—Ä–∞–±–æ—Ç–∫–µ
</div>

<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 </b>

–ü—Ä–∏–≤–µ—Ç, –ö—Ä–∏—Å—Ç–∏–Ω–∞! –†–∞–¥ —Å–Ω–æ–≤–∞ –≤–∏–¥–µ—Ç—å —Ç–µ–±—è –∏ —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É:) –î–∞–≤–∞–π –ø–æ—Å–º–æ—Ç—Ä–∏–º, —á—Ç–æ –ø–æ–ª—É—á–∏–ª–æ—Å—å –Ω–∞ —ç—Ç–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏!

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–ê–ª–µ–∫—Å–µ–π, –ø—Ä–∏–≤–µ—Ç) —Å–ø–∞—Å–∏–±–æ –∑–∞ –±—ã—Å—Ç—Ä—É—é –ø—Ä–æ–≤–µ—Ä–∫—É, –∞ —Ç–æ –¥–µ–¥–ª–∞–π–Ω —É–∂–µ –≤ –∑–∞—Ç—ã–ª–æ–∫ –¥—ã—à–∏—Ç)))
</div>

<div style="border:solid Chocolate 2px; padding: 40px">

<b> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 </b>

–ü—Ä–∏–≤–µ—Ç, –ö—Ä–∏—Å—Ç–∏–Ω–∞! –î—É–º–∞—é, –º—ã —É–∂–µ –∑–∞–∫–∞–Ω—á–∏–≤–∞–µ–º - —É–≤–µ—Ä–µ–Ω, –∏—Ç–µ—Ä–∞—Ü–∏—è –ø–æ—Å–ª–µ–¥–Ω—è—è:) –î–∞–≤–∞–π —Å–º–æ—Ç—Ä–µ—Ç—å!

# SQL

–í–æ –≤—Ä–µ–º—è –∫–æ—Ä–æ–Ω–æ–≤–∏—Ä—É—Å–∞ –ª—é–¥–∏ –º–µ–Ω—å—à–µ –ø–µ—Ä–µ–¥–≤–∏–≥–∞–ª–∏—Å—å –∏ –ø–æ—è–≤–∏–ª–æ—Å—å –±–æ–ª—å—à–µ –≤—Ä–µ–º–µ–Ω–∏ –¥–ª—è —á—Ç–µ–Ω–∏—è. –ù–µ —É –≤—Å–µ—Ö –µ—Å—Ç—å –¥–æ–º–∞ –±–æ–≥–∞—Ç—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏, –∞ —É –Ω–µ–∫–æ—Ç–æ—Ä—ã—Ö –∏ –Ω–µ—Ç –º–µ—Å—Ç–∞ –Ω–∞ —ç—Ç—É –±–∏–±–ª–∏–æ—Ç–µ–∫—É,–∞ –ø–æ—Ç–æ–º –∏ –Ω–æ–≤—ã–µ –∫–Ω–∏–≥–∏ –ø–æ—Å—Ç–æ—è–Ω–Ω–æ –ø–æ—è–≤–ª—è—é—Ç—Å—è, –Ω–µ –≤—Å–µ–≥–¥–∞ –µ—Å—Ç—å –≤–æ–∑–º–æ–∂–Ω–æ—Å—Ç—å –ø—Ä–æ—á–∏—Ç–∞—Ç—å —Ç–æ, —á—Ç–æ —Ö–æ—á–µ—à—å. –ù–æ –∫ —Å—á–∞—Å—Ç—å—é –ø–æ—è–≤–∏–ª–∏—Å—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —á—Ç–µ–Ω–∏—è. –≠—Ç–æ –∑–∞–º–µ—Ç–∏–ª–∏ —Å—Ç–∞—Ä—Ç–∞–ø–µ—Ä—ã ‚Äî –∏ –±—Ä–æ—Å–∏–ª–∏—Å—å —Å–æ–∑–¥–∞–≤–∞—Ç—å –ø—Ä–∏–ª–æ–∂–µ–Ω–∏—è –¥–ª—è —Ç–µ—Ö, –∫—Ç–æ –ª—é–±–∏—Ç —á–∏—Ç–∞—Ç—å.

–ó–∞–¥–∞—á–∞ ‚Äî –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö –∫—Ä—É–ø–Ω–æ–≥–æ —Å–µ—Ä–≤–∏—Å–∞ –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ.
–£ –Ω–∞—Å –∏–º–µ–µ—Ç—Å—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. 

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.

## –ü–ª–∞–Ω —Ä–∞–±–æ—Ç—ã

1. –¶–µ–ª—å –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è
2. –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫  
3. –û–∑–Ω–∞–∫–æ–º–∏–º—Å—è —Å –¥–∞–Ω–Ω—ã–º–∏ —Ç–∞–±–ª–∏—Ü   
4. –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞
5. –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É
6. –û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü 
7. –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏
8. –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–µ–∫—Ä–∞—Å–Ω–æ–µ –≤—Å—Ç—É–ø–ª–µ–Ω–∏–µ!
    
–í –Ω—ë–º –µ—Å—Ç—å –≤—Å—ë, —á—Ç–æ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ, —á—Ç–æ–±—ã –ø–æ–Ω—è—Ç—å —Å—É—Ç—å –ø—Ä–æ–µ–∫—Ç–∞ —Å –ø–µ—Ä–≤—ã—Ö —Å—Ç—Ä–æ–∫ –æ—Ç—á—ë—Ç–∞!

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 

–¢–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∞–Ω–µ—Ç –Ω–∞–º–Ω–æ–≥–æ —É–¥–æ–±–Ω–µ–π –≤ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–∏, –µ—Å–ª–∏ —Ç—ã –¥–æ–±–∞–≤–∏—à—å –∏–Ω—Ç–µ—Ä–∞–∫—Ç–∏–≤–Ω–æ–µ –æ–≥–ª–∞–≤–ª–µ–Ω–∏–µ ‚Äî —Å –ø–æ–º–æ—â—å—é –≥–∏–ø–µ—Ä—Å—Å—ã–ª–æ–∫ –∏–ª–∏ –≤ –ø–ª–∞–≥–∏–Ω–µ toc. –ú–∞—Ç–µ—Ä–∏–∞–ª –æ–± —ç—Ç–æ–º –µ—Å—Ç—å –≤ –±–ª–æ–∫–µ –∫—É—Ä—Å–∞ –ü–æ–ª–µ–∑–Ω—ã–µ –∏–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏ –¥–ª—è —É—á—ë–±—ã - –û—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞ - –ò–∑–º–µ–Ω–µ–Ω–∏—è –≤ Jupyter: –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–æ–µ –æ–≥–ª–∞–≤–ª–µ–Ω–∏–µ –∏ –≥–æ—Ä—è—á–∏–µ –∫–ª–∞–≤–∏—à–∏. –õ–∏–±–æ —Ç—ã –º–æ–∂–µ—à—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –≥–∏–ø–µ—Ä—Å—Å—ã–ª–∫–∏ - –ø–æ–¥—Ä–æ–±–Ω–µ–µ –æ–± –∏—Ö –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–∏ –º–æ–∂–Ω–æ –ø—Ä–æ—á–∏—Ç–∞—Ç—å —Ç—É—Ç: https://sebastianraschka.com/Articles/2014_ipython_internal_links.html.
        
</div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–ø–æ–ø—Ä–æ–±—É—é –µ—â–µ —Ä–∞–∑..., —è —É–∂–µ –∫–∞–∫-—Ç–æ —Å–∏–¥–µ–ª–∞ –Ω–∞–¥ —ç—Ç–∏–º))) —Å–ø–∞—Å–∏–±–æ
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ!

In [1]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine
from IPython.display import display

In [2]:
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ë–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏–º–ø–æ—Ä—Ç–∏—Ä–æ–≤–∞–ª–∏, –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä —Å–¥–µ–ª–∞–ª–∏ - –æ—Ç–ª–∏—á–Ω–æ!
    
–°–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø–µ—Ä–µ–∑–∞–ø—É—Å–∫–∞–µ—à—å —è–¥—Ä–æ –ø—Ä–æ–µ–∫—Ç–∞ –ø–µ—Ä–µ–¥ –æ—Ç–ø—Ä–∞–≤–∫–æ–π –Ω–∞ —Ä–µ–≤—å—é - —ç—Ç–æ –≤–∞–∂–Ω—ã–π —à–∞–≥, –∫–æ—Ç–æ—Ä—ã–π –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –ø—Ä–æ—Å—Ç—ã—Ö –∏ –¥–æ—Å–∞–¥–Ω—ã—Ö –æ—à–∏–±–æ–∫ –ø—Ä–∏ –≤–æ—Å–ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–∏ —Ä–µ—à–Ω–µ–∏—è:)
</div>

### –û–∑–Ω–∞–∫–æ–º–∏–º—Å—è —Å –¥–∞–Ω–Ω—ã–º–∏ —Ç–∞–±–ª–∏—Ü

In [3]:
query1 = """
  SELECT*
  from books
  limit5;
  """

In [4]:
pd.io.sql.read_sql(query1, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
...,...,...,...,...,...,...
995,996,571,Wyrd Sisters (Discworld #6; Witches #2),265,2001-02-06,147
996,997,454,Xenocide (Ender's Saga #3),592,1996-07-15,297
997,998,201,Year of Wonders,358,2002-04-30,212
998,999,94,You Suck (A Love Story #2),328,2007-01-16,331
999,1000,509,Zen and the Art of Motorcycle Maintenance: An ...,540,2006-04-25,143

–ü–µ—Ä–µ–¥ –Ω–∞–º–∏ –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö —Å –Ω–∞–∑–≤–∞–Ω–∏—è–º–∏ –∫–Ω–∏–≥, –∫–æ–ª-–º —Å—Ç—Ä–∞–Ω–∏—Ü, –¥–∞—Ç—ã –ø—É–±–ª–∏–∫–∞—Ü–∏–∏, –Ω–æ–º–µ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞ –∏ –∞–≤—Ç–æ—Ä–∞.

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 

–°—Ç—Ä—É–∫—Ç—É—Ä–Ω–æ –∏ –ª–æ–≥–∏—á–µ—Å–∫–∏ –±—ã–ª–æ –±—ã –±–æ–ª–µ–µ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Å–Ω–∞—á–∞–ª–∞ –ø–æ—Å–º–æ—Ç—Ä–µ—Ç—å –Ω–∞ –≤—Å–µ —Ç–∞–±–ª–∏—Ü—ã, –∞ —É–∂–µ –ø–æ—Ç–æ–º –ø—Ä–∏—Å—Ç—É–ø–∞—Ç—å –∫ –ø—Ä–æ–µ–∫—Ç—É. –î–∞–≤–∞–π –ø–æ–ø—Ä–æ–±—É–µ–º –ª—É—á—à–µ –æ—Ä–≥–∞–Ω–∏–∑–æ–≤–∞—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É –ø—Ä–æ–µ–∫—Ç–∞?
        
–í—ã—Å—à–∏–π –ø–∏–ª–æ—Ç–∞–∂ –≤ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü - –æ—Ä–≥–∞–Ω–∏–∑–∞—Ü–∏—è —ç—Ç–æ–≥–æ –ø—Ä–æ–µ—Ü—Å—Å–∞ –≤ —Ü–∏–∫–ª–µ, —á—Ç–æ –ø–æ–º–æ–∂–µ—Ç –∏–∑–±–µ–∂–∞—Ç—å –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–∏—è –∫–æ–¥–∞. –ü–æ–¥—Å—Ç–∞–≤–ª—è—Ç—å –Ω–∞–∑–≤–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –≤ —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å –ø–æ–º–æ—â—å—é `f-—Å—Ç—Ä–æ–∫–∏` –∏–ª–∏ –º–µ—Ç–æ–¥–∞ `format()`. –°–∞–º—É —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –º–æ–∂–Ω–æ —Å–æ–∑–¥–∞–≤–∞—Ç—å –≤–Ω—É—Ç—Ä–∏ —Ü–∏–∫–ª–∞ –Ω–∞ –∫–∞–∂–¥–æ–π –∏—Ç–µ—Ä–∞—Ü–∏–∏.
        
</div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

—Å —Ö–æ–¥—É –Ω–µ –ø–æ–ª—É—á–∏–ª–∞—Å—å —Ñ-—Ü–∏—è, —ç—Ç–æ —á—Ç–æ-—Ç–æ –Ω–µ—Ä–∞–±–æ—á–µ–µ... , –Ω–µ –≤–∏–¥–∏—Ç –æ–Ω —Ç–∞–±–ª–∏—Ü—ã, —á–µ—Ä–µ–∑ –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é —Ç–æ–∂–µ –Ω–µ –ø–æ–ª—É–∏–ª–æ—Å—å, –≤–æ–∑–º–æ–∂–Ω–æ –Ω–µ –ø—Ä–∞–≤–∏–ª—å–Ω–æ —Ç—É–¥–∞ –∏—Ö –ø–µ—Ä–µ–¥–∞–ª–∞(((     
    
    
</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 

–î–∞, —Ç—ã –∑–¥–µ—Å—å –Ω–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω–æ —Ä–∞–±–æ—Ç–∞–µ—à—å —Å —Ü–∏–∫–ª–æ–º. `range` - —ç—Ç–æ –≥–µ–Ω–µ—Ä–∞—Ç–æ—Ä –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ —Ü–∏—Ñ—Ä, –æ–Ω —Ç—É—Ç –Ω–µ —Å–æ–≤—Å–µ–º –ø–æ–¥—Ö–æ–¥–∏—Ç. –í–º–µ—Å—Ç–æ `range` –º–æ–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ª—é–±—É—é –∏—Ç–µ—Ä–∏—Ä—É–µ–º—É—é —Å—Ç—Ä—É–∫—Ç—É—Ä—É –¥–∞–Ω–Ω—ã—Ö, –≤–∫–ª—é—á–∞—è —Å–ø–∏—Å–æ–∫. 
        
–¢–∞–∫–∂–µ —Ç—ã –Ω–µ –≤—ã–ø–æ–ª–Ω—è–µ—à—å —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ —Å—Ç—Ä–æ–∫–∏, —á—Ç–æ–±—ã –ø–µ—Ä–µ–¥–∞—Ç—å –∏—Ç–µ—Ä–∏—Ä—É–µ–º—ã–π –æ–±—ä–µ–∫—Ç –≤ —Å—Ç—Ä–æ–∫—É-–∑–∞–ø—Ä–æ—Å –¥–ª—è –ø–æ—Å–ª–µ–¥—É—é—â–µ–≥–æ –∏—Å–ø–æ–ª–Ω–µ–Ω–∏—è.

–ö–æ–¥ –≤ —Å–ª–µ–¥—É—é—â–µ–π —Ä–µ–∞–ª–∏–∑–∞—Ü–∏–∏ –¥–æ–ª–∂–µ–Ω —Ä–∞–±–æ—Ç–∞—Ç—å:)
        
        
    for table in ['table_1', 'table_2']:
        
        query = f'SELECT * FROM {table}' -- —Ç—É—Ç —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ —á–µ—Ä–µ–∑ f-—Å—Ç—Ä–æ–∫—É
        query = 'SELECT * FROM {}'.format(table) -- —Ç—É—Ç —Å—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ —Ñ–æ—Ä–º–∞—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ
</div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ 2 <a class="tocSkip"> </h2>
 –≤–æ—Ç —Ç–∞–∫ —Å–º–æ–≥–ª–∞ –¥–æ–¥–µ–ª–∞—Ç—å, –Ω–æ –º–Ω–µ –∫–∞–∂–µ—Ç—Å—è, —á—Ç–æ –Ω–µ –æ—á–µ–Ω—å —É–¥–æ–±–µ–Ω –≤—ã–≤–æ–¥ –∏–Ω—Ñ–æ –¥–ª—è –∏–∑—É—á–µ–Ω–∏—è...   
–≤–æ–∑–º–æ–∂–Ω–æ –º–æ–∂–Ω–æ –µ–≥–æ –µ—â–µ –¥–æ—Ä–∞–±–æ—Ç–∞—Ç—å...)
    
    
    
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –°–¥–µ–ª–∞—Ç—å —É–¥–æ–±–Ω–µ–µ –ø–æ–º–æ–∂–µ—Ç –º–æ–¥—É–ª—å `display`:) –Ø —á—É—Ç—å —É–ª—É—á—à–∏–ª —Ç–≤–æ–π –±–ª–æ–∫ –∞–Ω–∞–ª–∏–∑–∞, –ø–æ—Å–º–æ—Ç—Ä–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–∞ —ç—Ç–æ —Ä–µ—à–µ–Ω–∏–µ:)
</div>

In [5]:
for table in ['books','reviews','authors','ratings', 'publishers']:
    query= f'SELECT * FROM {table} LIMIT 5'
    info = pd.io.sql.read_sql(query, con = engine)
    
    print(f'–î–∞–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã {table}:')
    display(info.head(5))

–î–∞–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã books:

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268

–î–∞–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã reviews:

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

–î–∞–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã authors:

   author_id                          author
0          1                      A.S. Byatt
1          2  Aesop/Laura Harris/Laura Gibbs
2          3                 Agatha Christie
3          4                   Alan Brennert
4          5        Alan Moore/David   Lloyd

–î–∞–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã ratings:

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

–î–∞–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã publishers:

   publisher_id                          publisher
0             1                                Ace
1             2                           Ace Book
2             3                          Ace Books
3             4                      Ace Hardcover
4             5  Addison Wesley Publishing Company

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–æ—Ç–∫—Ä—ã–ª–∞ –≤—Ä—É—á–Ω—É—é((    
    
    
</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 

–û—Å—Ç–∞–≤–∏–ª –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –≤—ã—à–µ:)
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –í–æ–ø—Ä–æ—Å –∑–∞–∫—Ä—ã—Ç:)
</div>

In [6]:
query11 = """
  SELECT*
  from ratings
  limit5;
  """

In [7]:
pd.io.sql.read_sql(query11, con = engine)

      rating_id  book_id        username  rating
0             1        1      ryanfranco       4
1             2        1   grantpatricia       2
2             3        1    brandtandrea       5
3             4        2        lorichen       3
4             5        2     mariokeller       2
...         ...      ...             ...     ...
6451       6452     1000  carolrodriguez       4
6452       6453     1000         wendy18       4
6453       6454     1000      jarvispaul       5
6454       6455     1000           zross       2
6455       6456     1000         fharris       5

[6456 rows x 4 columns]

–ó–¥–µ—Å—å –º—ã —Ö—Ä–∞–Ω–∏—Ç—Å—è –∏–Ω—Ñ–æ –æ —Ä–µ–π—Ç–∏–Ω–≥–µ, —á–∏—Ç–∞—Ç–µ–ª–µ, –∫–æ—Ç–æ—Ä—ã–π –æ—Å—Ç–∞–≤–∏–ª –µ–≥–æ, —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –Ω–æ–º–µ—Ä –∫–Ω–∏–≥–∏, —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –Ω–æ–º–µ—Ä —Ä–µ–π—Ç–∏–Ω–≥–∞.

In [8]:
query111 = """
  SELECT*
  from authors
  limit5;
  """

In [9]:
pd.io.sql.read_sql(query111, con = engine)

     author_id                                author
0            1                            A.S. Byatt
1            2        Aesop/Laura Harris/Laura Gibbs
2            3                       Agatha Christie
3            4                         Alan Brennert
4            5              Alan Moore/David   Lloyd
..         ...                                   ...
631        632         William Strunk Jr./E.B. White
632        633                           Zadie Smith
633        634                 Zilpha Keatley Snyder
634        635                    Zora Neale Hurston
635        636  √Ösne Seierstad/Ingrid Christopherson

[636 rows x 2 columns]

–ó–¥–µ—Å—å —Ç–æ–ª—å–∫–æ —Ñ–∏–æ –∞–≤—Ç–æ—Ä–∞ –∏ –µ–≥–æ —É–Ω–∏–∫–∞–ª–Ω—ã–π –Ω–æ–º–µ—Ä

In [10]:
query1111 = """
  SELECT*
  from reviews
  limit5;
  """

In [11]:
pd.io.sql.read_sql(query1111, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...
...,...,...,...,...
2788,2789,999,martinadam,Later hospital turn easy community. Fact same ...
2789,2790,1000,wknight,Change lose answer close pressure. Spend so now.
2790,2791,1000,carolrodriguez,Authority go who television entire hair guy po...
2791,2792,1000,wendy18,Or western offer wonder ask. More hear phone f...
2792,2793,1000,jarvispaul,Republican staff bit eat material measure plan...

—Ç—É—Ç —É –Ω–∞—Å –Ω–∏–∫–∏ —á–∏—Ç–∞—Ç–µ–ª–µ–π, —Å–∞–º —Ç–µ–∫—Å—Ç –æ—Ç–∑—ã–≤–∞, –∞–π–¥–∏ –∫–Ω–∏–≥–∏ –∏ –æ—Ç–∑—ã–≤–∞

In [12]:
query11111 = """
  SELECT*
  from publishers
  limit5;
  """

In [13]:
pd.io.sql.read_sql(query11111, con = engine)

     publisher_id                          publisher
0               1                                Ace
1               2                           Ace Book
2               3                          Ace Books
3               4                      Ace Hardcover
4               5  Addison Wesley Publishing Company
..            ...                                ...
335           336         Workman Publishing Company
336           337                         Wyatt Book
337           338              Yale University Press
338           339                           Yearling
339           340                     Yearling Books

[340 rows x 2 columns]

–ù–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç –¥–æ–º–∞ –∏ –µ–≥–æ –∞–π–¥–∏.

### –ü–æ—Å—á–∏—Ç–∞–µ–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;

In [14]:
query2 = """  SELECT COUNT (DISTINCT(book_id))
  FROM books
  WHERE publication_date> '2000-01-01';
  """

In [15]:
pd.io.sql.read_sql(query2, con = engine)

   count
0    819

–ü–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 20 –≥–æ–¥–∞ –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ 819 –∫–Ω–∏–≥.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ü—Ä–∞–≤–∏–ª—å–Ω–æ!
    
–û—Ç–º–µ—á—É, —á—Ç–æ —É—Å–ª–æ–≤–∏–µ —Ñ–∏–ª—å—Ç—Ä–∞—Ü–∏–∏ `publication_date >= '2000-01-01' ` —Ç–∞–∫–∂–µ –±—ã–ª–æ –±—ã –ø—Ä–∞–≤–∏–ª—å–Ω—ã–º, —Ö–æ—Ç—å –∏ –ø—Ä–∏–≤–µ–ª–æ –±—ã –∫ –¥—Ä—É–≥–æ–º—É —Ä–µ–∑—É–ª—å—Ç–∞—Ç—É - –≤ —Ä–µ–∞–ª—å–Ω—ã—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –æ —Ç–æ–º, –≤–∫–ª—é—á–∞–µ—Ç—Å—è –ª–∏ –¥–∞—Ç–∞ –≤ –¥–∏–∞–ø–∞–∑–æ–Ω –∏–ª–∏ –Ω–µ—Ç, –≤—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç —É—Ç–æ—á–Ω—è—Ç—å –∑–∞—Ä–∞–Ω–µ–µ:)

</div>

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

–ò–∑—É—á–∏–º –¥–∞–Ω–Ω—ã–µ –≤ —Ç–∞–±–ª–∏—Ü–µ `ratings`

In [16]:
query3 = """
  SELECT *
 FROM ratings
 limit 5;
  """

In [17]:
pd.io.sql.read_sql(query3, con = engine)

   rating_id  book_id       username  rating
0          1        1     ryanfranco       4
1          2        1  grantpatricia       2
2          3        1   brandtandrea       5
3          4        2       lorichen       3
4          5        2    mariokeller       2

In [18]:
query3 = """
  SELECT *
 FROM reviews
 limit 5;
  """

In [19]:
pd.io.sql.read_sql(query3, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...
1,2,1,ryanfranco,Foot glass pretty audience hit themselves. Amo...
2,3,2,lorichen,Listen treat keep worry. Miss husband tax but ...
3,4,3,johnsonamanda,Finally month interesting blue could nature cu...
4,5,3,scotttamara,Nation purpose heavy give wait song will. List...

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–æ—Å—Ç–∞–≤–ª—è—é –Ω–µ–≤–µ—Ä–Ω—ã–π –≤–∞—Ä–∏–∞–Ω—Ç –¥–ª—è –∏—Å—Ç–æ—Ä–∏–∏
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–æ, –Ω–æ –Ω–∞ —Å–∞–º–æ–º –¥–µ–ª–µ —Å–æ–≤—Å–µ–º –Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ:)

</div>

In [20]:
query3 = """
  SELECT  b.book_id,
         COUNT(r.review_id),
         AVG(rt.rating)
  FROM books AS b
  left JOIN reviews AS r ON b.book_id = r.book_id
  left JOIN ratings AS rt ON b.book_id = rt.book_id
  group by b.book_id
  order by b.book_id;
  """

In [21]:
pd.io.sql.read_sql(query3, con = engine)

     book_id  count       avg
0          1      6  3.666667
1          2      2  2.500000
2          3      9  4.666667
3          4      4  4.500000
4          5     24  4.000000
..       ...    ...       ...
995      996      9  3.666667
996      997     15  3.400000
997      998     20  3.200000
998      999      4  4.500000
999     1000     24  3.833333

[1000 rows x 3 columns]

<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>
    

<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–û—Ç–≤–µ—Ç –Ω–µ —Å–æ–≤—Å–µ–º –≤–µ—Ä–Ω—ã–π - –ø–æ–ª—É—á–∏–ª–æ—Å—å –º–Ω–æ–≥–æ–≤–∞—Ç–æ –æ—Ü–µ–Ω–æ–∫. –û–±—Ä–∞—Ç–∏, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤–Ω–∏–º–∞–Ω–∏–µ, —á—Ç–æ –¥–ª—è —Ñ–∏–ª—å–º–∞ `Twilight (Twilight  #1)` —É —Ç–µ–±—è 1120 –æ—Ü–µ–Ω–æ–∫. –°—Ä–∞–≤–Ω–∏ —ç—Ç—É —Ü–∏—Ñ—Ä—É —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ –¥–∞–Ω–Ω—ã–º–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ `reviews` - –±—É–¥–µ—Ç –ª–∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫ —Ç–∞–∫–∏–º –∂–µ? –î—É–º–∞—é, —Å–¥–µ–ª–∞–≤ —ç—Ç—É –ø—Ä–æ–≤–µ—Ä–∫—É, —Ç—ã –±—ã—Å—Ç—Ä–æ –ø–æ–π–º—ë—à—å, –≤ —á—ë–º –¥–µ–ª–æ, –Ω–æ –µ—Å–ª–∏ –Ω–µ—Ç - –¥–∞–π –º–Ω–µ –∑–Ω–∞—Ç—å, –∏ —è –ø–æ–º–æ–≥—É —Ä–∞–∑–æ–±—Ä–∞—Ç—å—Å—è. 

</div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ 1
</div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ 2, –¥–∞ —Å–ø–∞—Å–∏–±–æ, –ø—Ä–æ–≤–µ—Ä–∏–ª–∞ –∫–æ–ª-–≤–æ –∫–Ω–∏–≥, –Ω–∞–¥–µ—é—Å—å, —Å–µ–π—á–∞—Å –≤—Å–µ –≤–µ—Ä–Ω–æ)
    
</div>

In [22]:
query_3 = """
  WITH 
  b AS (SELECT title,
               book_id
        from books),
  i AS (SELECT book_id,
               COUNT(review_id) AS review
     FROM reviews
     GROUP BY book_id),
  f AS (SELECT book_id,            
        FLOOR (AVG(rating)) AS avg_rating
        FROM ratings
        GROUP BY book_id)
   SELECT b.title,
          i.review,
          f.avg_rating
   FROM b
   left JOIN i on b.book_id = i.book_id
   left JOIN f on b.book_id = f.book_id   
   order by b.book_id;
  """

In [23]:
pd.io.sql.read_sql(query_3, con = engine)

                                                 title  review  avg_rating
0                                         'Salem's Lot     2.0         3.0
1                   1 000 Places to See Before You Die     1.0         2.0
2    13 Little Blue Envelopes (Little Blue Envelope...     3.0         4.0
3    1491: New Revelations of the Americas Before C...     2.0         4.0
4                                                 1776     4.0         4.0
..                                                 ...     ...         ...
995           Wyrd Sisters (Discworld  #6; Witches #2)     3.0         3.0
996                        Xenocide (Ender's Saga  #3)     3.0         3.0
997                                    Year of Wonders     4.0         3.0
998                        You Suck (A Love Story  #2)     2.0         4.0
999  Zen and the Art of Motorcycle Maintenance: An ...     4.0         3.0

[1000 rows x 3 columns]

<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"></h2>

    
<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ö–æ–µ-—á—Ç–æ —É–ø—É—Å—Ç–∏–ª–∏: –≤ —Ç–≤–æ—ë–º –∑–∞–ø—Ä–æ—Å–µ 994 —Å—Ç—Ä–æ–∫–∏. 1 —Å—Ç—Ä–æ–∫–∞ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É–µ—Ç 1 –∫–Ω–∏–≥–µ. –í –∑–∞–¥–∞–Ω–∏–∏ —Å–∫–∞–∑–∞–Ω–æ, —á—Ç–æ —Å—Ä–µ–¥–Ω–∏–π —Ä–µ–π—Ç–∏–Ω–≥ –∏ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ—Ü–µ–Ω–æ–∫ –Ω—É–∂–Ω–æ –ø–æ—Å—á–∏—Ç–∞—Ç—å –¥–ª—è –≤—Å–µ—Ö –∫–Ω–∏–≥. –î–∞–≤–∞–π –ø—Ä–æ–≤–µ—Ä–∏–º, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ `books`? –ù–∏—á–µ–≥–æ –ª–∏ –Ω–µ –ø–æ—Ç–µ—Ä—è–ª–æ—Å—å?
    
–¢–∞–∫–∂–µ –≤–º–µ—Å—Ç–æ `book_id` –ª—É—á—à–µ –≤—ã–≤–µ—Å—Ç–∏ `title`.
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –£—á—Ç–µ–Ω–æ! –¢—ã –º–æ–ª–æ–¥–µ—Ü:)

</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ó–¥–µ—Å—å —Ç–∞–∫–∂–µ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å —Ä–µ—à–∏—Ç—å –∑–∞–¥–∞—á—É –±–µ–∑ –ø–æ–¥–∑–∞–ø—Ä–æ—Å–æ–≤:)
        </div>

### –û–ø—Ä–µ–¥–µ–ª–∏–º –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –º—ã –∏—Å–∫–ª—é—á–∏–º –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;

In [24]:
query4 = """
  SELECT p.publisher,
        COUNT(b.book_id)
  
  FROM books AS b
  JOIN publishers AS p ON b.publisher_id = p.publisher_id
  WHERE b.num_pages > 50
  GROUP BY p.publisher
  ORDER BY (count) desc
  LIMIT 5;
  """

In [25]:
pd.io.sql.read_sql(query4, con = engine)

                  publisher  count
0             Penguin Books     42
1                   Vintage     31
2  Grand Central Publishing     25
3          Penguin Classics     24
4                    Bantam     19

–ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∫–æ–ª-–≤–æ –∫–Ω–∏–≥ —Å –∫–æ–ª-–º —Å—Ç—Ä–∞–Ω–∏—Ü –±–æ–ª—à–µ 50 –±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ–º `Penguin Books`, 42 –∫–Ω–∏–≥–∏.

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ –æ–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –≤–µ—Ä–Ω–æ! –°–ø–∞—Å–∏–±–æ, —á—Ç–æ –¥–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–æ –≤—ã–≤–µ–ª–∞ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∫–Ω–∏–≥ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞!

</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–í –∑–∞–¥–∞–Ω–∏–∏ —Å–∫–∞–∑–∞–Ω–æ, —á—Ç–æ –Ω—É–∂–Ω–æ –Ω–∞–π—Ç–∏ –æ–¥–Ω–æ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –ø–æ—ç—Ç–æ–º—É –±—ã–ª–æ –±—ã –ª–æ–≥–∏—á–Ω–µ–µ –æ—Å—Ç–∞–≤–∏—Ç—å –≤ –≤—ã–æ–≤–¥–µ —Ç–æ–ª—å–∫–æ –æ–¥–Ω—É —Å—Ç—Ä–æ–∫—É:)
        </div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–î–∞, –ê–ª–µ–∫—Å–µ–π) —Å–Ω–∞—á–∞–ª–∞ —Ç–∞–∫ –∏ —Å–¥–µ–ª–∞–ª–∞, –∞ –ø–æ—Ç–æ–º —Ä–µ—à–∏–ª–∞ –ø—Ä–æ–≤–µ—Ä–∏—Ç—å –Ω–µ —Å–æ–≤–ø–∞–¥–∞—é—Ç –ª–∏ –∑–Ω–∞—á–µ–Ω–∏—è —É —Å–ª–µ–¥—É—é—â–∏—Ö –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤, —Ç–∞–∫ –ø–æ—Ç–æ–º –∏ –æ—Å—Ç–∞–≤–∏–ª–∞))
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –¢–∞–∫ –æ–Ω–æ –æ–±—ã—á–Ω–æ –∏ —Å–ª—É—á–∞–µ—Ç—Å—è:) –û–∫–µ–π!

</div>

### –û–ø—Ä–µ–¥–µ–ª–∏–º –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

 –ê–ª–µ–∫—Å–µ–π, —è –æ—Å—Ç–∞–≤–∏–ª–∞ —ç—Ç–æ—Ç –≤–∞—Ä–∏–∞–Ω—Ç –Ω–µ–ø—Ä–∞–≤–∏–ª—å–Ω—ã–π –¥–ª—è –∏—Å—Ç–æ—Ä–∏–∏.
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –•–æ—Ä–æ—à–æ:)

</div>

In [26]:
query5 = """
  SELECT i.author,
         i.avg_rating,
         i.title
  FROM(
  SELECT a.author,
        AVG(r.rating) as avg_rating,
        
        COUNT(r.rating_id),
        b.title
  
  FROM books AS b
  JOIN authors AS a ON b.author_id = a.author_id
  JOIN ratings AS r ON b.book_id = r.book_id
  group by b.title, a.author_id
  HAVING COUNT(r.rating_id)>50
  order by (avg_rating) desc
  LIMIT 1) AS i;
  """

In [27]:
pd.io.sql.read_sql(query5, con = engine)

,author,avg_rating,title
0,J.K. Rowling/Mary GrandPr√©,4.414634,Harry Potter and the Prisoner of Azkaban (Harr...

–°–∞–º—É—é –≤—ã—Å–æ–∫—É—é –æ—Ü–µ–Ω–∫—É –Ω–∞–±—Ä–∞–ª J.K. Rowling/Mary GrandPr√©.

<br/>
<div class="alert alert-block alert-danger">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"></h2>
    

<b>–ù–∞ –¥–æ—Ä–∞–±–æ—Ç–∫—É‚ùå:</b>
–ê–≤—Ç–æ—Ä —Å —Å–∞–º—ã–º –≤—ã—Å–æ–∫–∏–º —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º –æ–ø—Ä–µ–¥–µ–ª—ë–Ω –≤–µ—Ä–Ω–æ, –Ω–æ —Å–∞–º —Ä–µ–π—Ç–∏–Ω–≥ –ø–æ—Å—á–∏—Ç–∞–Ω –Ω–µ–≤–µ—Ä–Ω–æ:
    
1. –ü–æ —É—Å–ª–æ–≤–∏—é –ø—Ä–æ–µ–∫—Ç–∞ –º—ã —É—á–∏—Ç—ã–≤–∞–µ–º —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏ - –≤ —Ç–≤–æ—ë–º –∑–∞–ø—Ä–æ—Å–µ –º—ã —É—á–∏—Ç—ã–≤–∞–µ–º –∫–Ω–∏–≥–∏, —É –∫–æ—Ç–æ—Ä—ã—Ö —Å—Ç—Ä–æ–≥–æ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫. –í–∞–∂–Ω–æ –≤–µ—Ä–Ω–æ –ø–æ–¥–±–∏—Ä–∞—Ç—å –æ–ø–µ—Ä–∞—Ç–æ—Ä—ã —Å—Ä–∞–≤–Ω–µ–Ω–∏—è:)
2. –ü—Ä–∏ –∏—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–∏ –ø–µ—Ä–≤–æ–π –æ—à–∏–±–∫–∏ –∞–≤—Ç–æ—Ä —É —Ç–µ–±—è –ø–æ–º–µ–Ω—è–µ—Ç—Å—è, –∏ –æ—Ç–≤–µ—Ç –≤—ã–π–¥–µ—Ç –Ω–µ–≤–µ—Ä–Ω—ã–π - –¥–µ–ª–æ –≤ —Ç–æ–º, —á—Ç–æ —Ç–≤–æ–π —Ñ–∏–ª—å—Ç—Ä `HAVING` –ø—Ä–∏–∑–≤–∞–Ω –æ—Ç—Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∫–Ω–∏–≥–∏ —Å –æ—Ü–µ–Ω–∫–∞–º–∏ 50 –∏ –±–æ–ª–µ–µ, –∞ –¥–∞–Ω–Ω—ã–µ —Ç—ã –≥—Ä—É–ø–ø–∏—Ä—É–µ—à—å –ø–æ –∞–≤—Ç–æ—Ä—É. –í –∏—Ç–æ–≥–µ —Ñ–∏–ª—å—Ç—Ä —Ñ–∏–ª—å—Ç—Ä—É–µ—Ç –Ω–µ –∫–Ω–∏–≥–∏, –∞ –∞–≤—Ç–æ—Ä–æ–≤, –∏ –≤ —Ç–∞–∫–æ–π –≥—Ä—É–ø–ø–∏—Ä–æ–≤–∫–µ –ø–æ—á—Ç–∏ —É –∫–∞–∂–¥–æ–≥–æ –∞—Ç–≤–æ—Ä–∞ –±—É–¥–µ—Ç 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–æ–∫, –ø–æ—ç—Ç–æ–º—É —Ä–µ–π—Ç–∏–Ω–≥ –±—É–¥–µ—Ç —Ä–∞—Å—Å—á–∏—Ç–∞–Ω –Ω–µ–≤–µ—Ä–Ω–æ - –≤ –Ω–µ–≥–æ –ø–æ–ø–∞–¥—É—Ç –ª–∏—à–Ω–∏–µ –∫–Ω–∏–≥–∏, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –ø—Ä–æ—Ö–æ–¥—è—Ç –ø–æ —É—Å–ª–æ–≤–∏—é —Å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ–º –æ—Ü–µ–Ω–æ–∫.
    
–ü–æ–ø—Ä–æ–±—É–π –ø–µ—Ä–µ–¥–µ–ª–∞—Ç—å –∑–∞–ø—Ä–æ —Å —É—á—ë—Ç–æ–º —ç—Ç–∏—Ö —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π:)

</div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–ò—Å–ø—Ä–∞–≤–ª–µ–Ω–∏–µ 1. —ç—Ç–æ –∫–∞–∫–æ–π-—Ç–æ –º–æ–∑–≥–æ–≤–æ–π –ª–∞–±–∏—Ä–∏–Ω—Ç....
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞, –∑–∞–¥–∞–Ω–∏–µ —Ö–æ—Ä–æ—à–æ —Ä–∞–∑–º–∏–Ω–∞–µ—Ç –º–æ–∑–≥:)

</div>

In [28]:
query_5 = """
  WITH         
  b AS (SELECT book_id, author_id, title
           FROM books),
         
  r AS (SELECT rating_id, rating, book_id
         FROM ratings),
         
  a AS (SELECT author_id, author
         FROM authors)      
  
  SELECT author, AVG(i.avg_rating)
  FROM (SELECT r.book_id, AVG(r.rating) AS avg_rating, b.author_id
        FROM r
        JOIN b ON r.book_id = b.book_id
        GROUP BY r.book_id, b.author_id
        HAVING COUNT(r.rating_id) >= 50) AS i     
  JOIN a ON i.author_id = a.author_id    
  GROUP BY author
  ORDER BY AVG(i.avg_rating) DESC
  LIMIT 1;
  """

In [29]:
pd.io.sql.read_sql(query_5, con = engine)

                       author       avg
0  J.K. Rowling/Mary GrandPr√©  4.283844

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –¢–µ–ø–µ—Ä—å –≤—Å—ë –≤–µ—Ä–Ω–æ!

</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ù–µ–º–Ω–æ–≥–æ –æ–± –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏–∏: –ø–æ–¥–∑–∞–ø—Ä–æ—Å—ã - —à—Ç—É–∫–∞ –¥–æ–≤–æ–ª—å–Ω–æ –¥–æ—Ä–æ–≥–∞—è —Å —Ç–æ—á–∫–∏ –∑—Ä–µ–Ω–∏—è –≤—ã—á–∏—Å–ª–µ–Ω–∏–π, –ø—Ä–∏—Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è –∫—É–¥–∞ –±—ã—Å—Ç—Ä–µ–µ –ø—Ä–æ–∏—Å—Ö–æ–¥—è—Ç. –í –¥–∞–Ω–Ω–æ–º —Å–ª—É—á–∞–µ —Ç–≤–æ–∏ –ø–æ–¥–∑–∞–ø—Ä–æ—Å—ã `b`, `r` –∏ `a` –∞–Ω–∞–ª–æ–≥–∏—á–Ω—ã —Ç–æ–º—É, —á—Ç–æ —Ç—ã –ø—Ä–æ—Å—Ç–æ —Ä–∞–±–æ—Ç–∞–µ—à—å —Å –∏—Å—Ö–æ–¥–Ω—ã–º–∏ —Ç–∞–±–ª–∏—Ü–∞–º–∏, –ø–æ—ç—Ç–æ–º—É –æ–Ω–∏ —Å–æ–≤—Å–µ–º –Ω–µ –Ω—É–∂–Ω—ã. –í –∫–∞—á–µ—Å—Ç–≤–µ –º–∞–ª–µ–Ω—å–∫–æ–≥–æ —É–ø—Ä–∞–∂–Ω–µ–Ω–∏—è –Ω–∞ –æ–ø—Ç–∏–º–∏–∑–∞—Ü–∏—é –º–æ–∂–µ—à—å –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å —Å–¥–µ–ª–∞—Ç—å —ç—Ç–æ –∑–∞–¥–∞–Ω–∏–µ –±–µ–∑ —ç—Ç–∏—Ö —Ç—Ä—ë—Ö –ø–æ–∑–¥–∞–ø—Ä–æ—Å–æ–≤ - —Ç—É—Ç –≤–ø–æ–ª–Ω–µ –º–æ–∂–Ω–æ –æ–±–æ–π—Ç–∏—Å—å –ø—Ä–æ—Å—Ç–æ —Ç–∞–±–ª–∏—Ü–∞–º–∏:)
        </div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ v2 <a class="tocSkip"> </h2>

–æ–¥–Ω–æ–∑–Ω–∞—á–Ω–æ –µ—â–µ –ø–æ—Å–∏–∂—É –Ω–∞–¥ —ç—Ç–æ–π –∑–∞–¥–∞—á–∫–æ–π, —è –æ—Å–æ–∑–Ω–∞–≤–ª–∞, —á—Ç–æ —ç—Ç–æ –¥–∞–ª–µ–∫–æ –Ω–µ –æ–ø—Ç–∏–º–∞–ª–Ω—ã–π –≤–∞—Ä–∏–∞–Ω—Ç, –Ω–æ –ø–æ–∫–∞ —Ç–∞–∫ –ø–æ–ª—É—á–∏–ª–æ—Å—å 
</div>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.3 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –î–∞, –æ–∫–µ–π, —ç—Ç–æ –≤—Å–µ–≥–æ –ª–∏—à—å —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏—è, –Ω–æ —Ä–µ–∫–æ–º–µ–Ω–¥—É—é –≤—Å—ë –∂–µ –ø–æ–ø—Ä–æ–±–æ–≤–∞—Ç—å:)

</div>

### –ü–æ—Å—á–∏—Ç–∞–µ–º —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

In [30]:
query6 = """

  WITH         
  rt AS (SELECT rating_id, username
         FROM ratings),
         
  rw AS (SELECT review_id, username
         FROM reviews)      
  
  SELECT FLOOR(AVG(i.revi))
  FROM (SELECT COUNT(rw.review_id) AS revi
        FROM rw
        WHERE 
           rw.username IN (SELECT username
                        FROM rt
                        GROUP BY username 
                        HAVING COUNT(rt.rating_id) > 50)
        GROUP BY rw.username) AS i;
  """

In [31]:
pd.io.sql.read_sql(query6, con = engine)

   floor
0   24.0

–í —Å—Ä–µ–¥–Ω–µ–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ 50 –æ—Ü–µ–Ω–æ–∫, –æ—Å—Ç–∞–≤–ª—è—é—Ç 24 –æ–±–∑–æ—Ä–∞.

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ–ø—Ä–µ–¥–µ–ª–∏–ª–∏ –≤–µ—Ä–Ω–æ!

</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ì–æ–≤–æ—Ä—è –ø—Ä–æ –æ—Ç–∑—ã–≤—ã, –±—ã–ª–æ –±—ã –ª–æ–≥–∏—á–Ω–µ–µ –æ–∫—Ä—É–≥–ª–∏—Ç—å –æ—Ç–≤–µ—Ç –¥–æ —Ü–µ–ª–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è –≤ –º–µ–Ω—å—à—É—é —Å—Ç–æ—Ä–æ–Ω—É - –æ—Ç–∑—ã–≤ –º–æ–∂–µ—Ç –±—ã—Ç—å –∏–ª–∏ —Ü–µ–ª—ã–º, –∏–ª–∏ –µ–≥–æ –≤–æ–æ–±—â–µ –Ω–µ—Ç:)
        </div>

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ï—Å—Ç—å!

</div>

<div class="alert alert-warning">
    <h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ <a class="tocSkip"> </h2>
    
<b>–ù–µ–∫–æ—Ç–æ—Ä—ã–µ –∑–∞–º–µ—á–∞–Ω–∏—è –∏ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏‚ö†Ô∏è:</b> 
–ü–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏–∏ –ø—Ä–æ–µ–∫—Ç–∞ —Å—Ç–æ–∏—Ç —Å–¥–µ–ª–∞—Ç—å –∏—Ç–æ–≥–æ–≤—ã–π –≤—ã–≤–æ–¥ –æ –ø—Ä–æ–≤–µ–¥—ë–Ω–Ω–æ–π —Ä–∞–±–æ—Ç–µ: –º–æ–∂–Ω–æ —Ç–µ–∑–∏—Å–Ω–æ –ø–µ—Ä–µ—á–∏—Å–ª–∏—Ç—å –æ—Å–Ω–æ–≤–Ω—ã–µ —à–∞–≥–∏, –∞ —Ç–∞–∫–∂–µ –ø—Ä–∏–≤–µ—Å—Ç–∏ –æ—Ç–≤–µ—Ç—ã –Ω–∞ –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ –≤–æ–ø—Ä–æ—Å—ã.
        </div>

<div class="alert alert-info">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å—Ç—É–¥–µ–Ω—Ç–∞ <a class="tocSkip"> </h2>

–¥–æ–±–∞–≤–ª—è—é –≤—ã–≤–æ–¥.
</div>

<br/>

<div class="alert alert-success">
<h2> –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞ v.2 <a class="tocSkip"> </h2>

<b>–í—Å–µ –æ—Ç–ª–∏—á–Ω–æ!üëç:</b> –ï—Å—Ç—å!

</div>

## –í—ã–≤–æ–¥  
  –ú—ã —Ä–∞–±–æ—Ç–∞–ª–∏ —Å 5 —Ç–∞–±–ª–∏—Ü–∞–º–∏, –ø—Ä–æ—Å–º–æ—Ç—Ä–µ–ª–∏ –∫–∞–∂–¥—É—é. –£–∑–Ω–∞–ª–∏, —á—Ç–æ , –Ω–∞—á–∏–Ω–∞—è —Å 01.01.20 –≥ ,–±—ã–ª–æ –≤—ã–ø—É—â–µ–Ω–æ 819 –∫–Ω–∏–≥, —Å–∞–º–æ–µ –∞–∫—Ç–∏–≤–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∏–∑–¥–∞—é—â–µ–µ –∫–Ω–∏–≥–∏ —Å 50 —Å—Ç—Ä –∏ –±–æ–ª–µ–µ, —ç—Ç–æ Penguin Books. –î–∂–æ–∞–Ω –†–æ—É–ª–∏–Ω–≥ (J.K. Rowling/Mary GrandPr√©) - –∞–≤—Ç–æ—Ä —Å –Ω–∞–∏–≤—ã—Å—à–∏–º —Å—Ä–µ–¥–Ω–∏–º —Ä–µ–π—Ç–∏–Ω–≥–æ–º —Å—Ä–µ–¥–∏ —Å–∞–º—ã—Ö –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö –∞–≤—Ç–æ—Ä–æ–≤. –û–∫–∞–∑—ã–≤–∞—é—Ç—Å—è –µ—Å—Ç—å –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏, –∫–æ—Ç–æ—Ä—ã–µ –æ—Å—Ç–∞–∏–≤–ª–∏ –±–æ–ª–µ–µ 50 –æ—Ü–µ–Ω–æ–∫ –∏ –≤ —Å—Ä–µ–¥–Ω–µ–º –æ–Ω–∏ –æ—Å—Ç–∞–≤–ª—è—é—Ç 24 –æ–±–∑–æ—Ä–∞.

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É.

–ö—Ä–∏—Å—Ç–∏–Ω–∞, –æ—Ç–ª–∏—á–Ω–æ –ø–æ—Ä–∞–±–æ—Ç–∞–ª–∞ –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º - –ø–æ—á—Ç–∏ –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è —É —Ç–µ–±—è –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤–µ—Ä–Ω–æ!

–ú–Ω–µ –Ω—Ä–∞–≤–∏—Ç—Å—è —Ç–≤–æ–π –∞–Ω–∞–ª–∏—Ç–∏—á–µ—Å–∫–∏–π –ø–æ–¥—Ö–æ–¥ –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞, —Ç—ã —Å–æ–±–ª—é–¥–∞–µ—à—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É —Ä–∞–±–æ—Ç—ã, –≤—ã–ø–æ–ª–Ω—è–µ—à—å –µ—ë –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ - —ç—Ç–æ –æ—á–µ–Ω—å —Ö–æ—Ä–æ—à–æ! –®–∞–≥–∏ –ø—Ä–æ–µ–∫—Ç–∞ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –ø–æ –ø–æ—Ä—è–¥–∫—É —Å–æ–≥–ª–∞—Å–Ω–æ –ø–ª–∞–Ω—É –ø—Ä–æ–µ–∫—Ç–∞, –Ω–µ—Ç —Å–º—ã—Å–ª–æ–≤—ã—Ö –∏ —Å—Ç—Ä—É–∫—Ç—É—Ä–Ω—ã—Ö —è–º. –í–∞–∂–Ω–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –≤—ã–≤–æ–¥—ã.
    
SQL –∑–∞–ø—Ä–æ—Å—ã –Ω–∞–ø–∏—Å–∞–Ω—ã —Ö–æ—Ä–æ—à–æ –∏ –æ–ø—Ç–∏–º–∞–ª—å–Ω–æ, –≤ –Ω–∏—Ö –Ω–µ—Ç –∏–∑–±—ã—Ç–æ—á–Ω—ã—Ö –¥–µ–π—Å—Ç–≤–∏–π - —ç—Ç–æ –∑–¥–æ—Ä–æ–≤–æ, –∫–∞–∂–µ—Ç—Å—è, —Ç—ã –Ω–µ–ø–ª–æ—Ö–æ —Ä–∞–∑–æ–±—Ä–∞–ª–∞—Å—å –≤ —Ç–µ–º–µ!
    
–í –ø—Ä–æ–µ–∫—Ç–µ –µ—Å—Ç—å –∑–∞–¥–∞–Ω–∏—è, –∫ –∫–æ—Ç–æ—Ä—ã–º —Å—Ç–æ–∏—Ç –≤–µ—Ä–Ω—É—Ç—å—Å—è - –∏—Ö —è –æ—Ç–º–µ—Ç–∏–ª –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏ –∫—Ä–∞—Å–Ω–æ–≥–æ —Ü–≤–µ—Ç–∞, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –æ—Å—Ç–∞–≤–∏–ª –¥–ª—è —Ç–µ–±—è –ø–æ–¥—Å–∫–∞–∑–∫–∏ –æ –≤–µ—Ä–Ω–æ–º –Ω–∞–ø—Ä–∞–≤–ª–µ–Ω–∏–∏. –í–∞–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å —ç—Ç–∏ –∑–∞–¥–∞–Ω–∏—è, —á—Ç–æ–±—ã –ø—Ä–æ–µ–∫—Ç –±—ã–ª –ø—Ä–∏–Ω—è—Ç. 
    
–¢–∞–∫–∂–µ –≤ —Ä–∞–±–æ—Ç–µ –µ—Å—Ç—å –Ω–µ–±–æ–ª—å—à–∏–µ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–∏ –ø–æ —É–ª—É—á—à–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞ - –æ—Ç–≤–µ—Ç—ã –Ω–∞ –≤–æ–ø—Ä–æ—Å—ã, –≤—ã–≤–æ–¥—ã –∏ –ø—Ä–æ—á–∞—è –º–µ–ª–æ—á—å, –∫–æ—Ç–æ—Ä–∞—è –Ω–µ –∑–∞–π–º—ë—Ç –º–Ω–æ–≥–æ –≤—Ä–µ–º–µ–Ω–∏, –Ω–æ —Å–¥–µ–ª–∞–µ—Ç —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç —Å—Ç–∏–ª–∏—Å—Ç–∏—á–µ—Å–∫–∏ –±–æ–ª–µ–µ —Å–æ–≤–µ—Ä—à–µ–Ω–Ω—ã–º.
    
–ï—Å–ª–∏ –æ —Ç–æ–º, —á—Ç–æ –Ω—É–∂–Ω–æ —Å–¥–µ–ª–∞—Ç—å –≤ —Ä–∞–º–∫–∞—Ö –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–µ–≤, –±—É–¥—É—Ç –≤–æ–∑–Ω–∏–∫–∞—Ç—å –≤–æ–ø—Ä–æ—Å—ã - –æ—Å—Ç–∞–≤—å –∏—Ö, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö, –∏ —è –æ—Ç–≤–µ—á—É –Ω–∞ –Ω–∏—Ö –≤–æ –≤—Ä–µ–º—è —Å–ª–µ–¥—É—é—â–µ–≥–æ —Ä–µ–≤—å—é.
    
–¢–∞–∫–∂–µ –±—É–¥—É —Ä–∞–¥ –æ—Ç–≤–µ—Ç–∏—Ç—å –Ω–∞ –ª—é–±—ã–µ —Ç–≤–æ–∏ –≤–æ–ø—Ä–æ—Å—ã –ø–æ –ø—Ä–æ–µ–∫—Ç—É –∏–ª–∏ –Ω–∞ –∫–∞–∫–∏–µ-–ª–∏–±–æ –¥—Ä—É–≥–∏–µ, –µ—Å–ª–∏ –æ–Ω–∏ —É —Ç–µ–±—è –∏–º–µ—é—Ç—Å—è - –æ—Å—Ç–∞–≤—å –∏—Ö –≤ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è—Ö, –∏ —è –ø–æ—Å—Ç–∞—Ä–∞—é—Å—å –æ—Ç–≤–µ—Ç–∏—Ç—å:)
    
–ñ–¥—É —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–º —Ä–µ–≤—å—é. –î–æ –≤—Å—Ç—Ä–µ—á–∏:)

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.2 .

–ö—Ä–∏—Å—Ç–∏–Ω–∞, —Å–ø–∞—Å–∏–±–æ, —á—Ç–æ –ø—Ä–∏—Å–ª–∞–ª–∞ –ø—Ä–æ–µ–∫—Ç –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–µ —Ä–µ–≤—å—é. –¢—ã —É—á–ª–∞ –≤—Å–µ –º–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ - —Å–ø–∞—Å–∏–±–æ –∑–∞ –æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω—ã–π –ø–æ–¥—Ö–æ–¥ –∫ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—é –ø—Ä–æ–µ–∫—Ç–∞:)
    
–û–¥–Ω–æ –∑–∞–¥–∞–Ω–∏–µ –≤—Å—ë –µ—â—ë –Ω–µ —É–¥–∞–ª–æ—Å—å —Ä–µ—à–∏—Ç—å –≤–µ—Ä–Ω–æ - —ç—Ç–æ –∑–∞–¥–∞–Ω–∏–µ –ø—Ä–æ –º–µ—Ç—Ä–∏–∫–∏ –¥–ª—è –∫–Ω–∏–≥–∏. –Ø –æ—Å—Ç–∞–≤–∏–ª —Ç–µ–±–µ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Å –Ω–æ–≤–æ–π –ø–æ–¥—Å–∫–∞–∑–∫–æ–π:)
    
–ñ–¥—É —Ç–≤–æ—é —Ä–∞–±–æ—Ç—É –Ω–∞ –ø–æ–≤—Ç–æ—Ä–Ω–æ–π –ø—Ä–æ–≤–µ—Ä–∫–µ!

<div style="border:solid Chocolate 2px; padding: 40px">

# –ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —Ä–µ–≤—å—é–µ—Ä–∞: –æ–±—â–∏–π –≤—ã–≤–æ–¥ –ø–æ –ø—Ä–æ–µ–∫—Ç—É v.3.

–ö—Ä–∏—Å—Ç–∏–Ω–∞, —Ç–µ–ø–µ—Ä—å –≤—Å–µ –∑–∞–¥–∞–Ω–∏—è –ø—Ä–æ–µ–∫—Ç–∞ —Ä–µ—à–µ–Ω—ã –≤–µ—Ä–Ω–æ - –ø—Ä–∏–Ω–∏–º–∞—é —Ç–≤–æ–π –ø—Ä–æ–µ–∫—Ç!
    
–°–ø–∞—Å–∏–±–æ –∑–∞ –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω—É—é –∏ —É–ø–æ—Ä–Ω—É—é —Ä–∞–±–æ—Ç—É –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º, –∂–µ–ª–∞—é —É—Å–ø–µ—à–Ω–æ–≥–æ –∑–∞–≤–µ—Ä—à–µ–Ω–∏—è –æ–±—É—á–µ–Ω–∏—è –∏ –ª—ë–≥–∫–æ–≥–æ —Ç—Ä—É–¥–æ—É—Å—Ç—Ä–æ–π—Å—Ç–≤–∞:)